.thumbnail img{
	width:100%;
}

.thumbnail{
	padding:0;
}

.thumbnail .caption-full{
	padding: 9px;
}

#delete-form{
	display:inline;
}

html,body{
    height:100%;
    width:100%;
    background-image: linear-gradient(to bottom right, blue,white);
}
h3 {
    color:white;
}
